* {
  color: #fff;
  font-family: "myFont";
}

@font-face {
  font-family: "myFont";
  src: url(fonts/RobotoCondensed-Light.ttf);
}

.first {
  color: #fff;
  background-color: #6613b4;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 10px;

  margin: 10px;
}

div {
  display: inline-block;
}

.parentDiv {
  text-align: center;
  margin: auto;
  background-color: #a3e4d7;
}

h1,
p {
  color: #6613b4;
}
